<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>香菇蛋炒饭</key>
	<string>8</string>
	<key>青椒炒鸡蛋饭</key>
	<string></string>
	<key>小炒回锅肉饭</key>
	<string></string>
	<key>孜然蒙古肉饭</key>
	<string></string>
	<key>土豆片腊肉饭</key>
	<string></string>
	<key>小炒牛肉饭</key>
	<string></string>
	<key>香菇肉丝饭</key>
	<string></string>
	<key>老干妈腊肉炒饭</key>
	<string></string>
</dict>
</plist>
